.infobox {
    position: fixed;
    border: 1px solid black;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.2em;

    top: 10px;
    right: 10px;

    padding: 5px;

    width: 300px;
    min-height: 30px;
    max-height: 800px;

    overflow-y: auto;

    background: white;
}

.infobox .name {
    font-weight: bold;
}


.infobox input[type="button"] {
    width: 50%;
    margin: 0;
}

.infobox #TW_Loca_RegExp {
    width: 95%;

}

.infobox #TW_Loca_Replace {
    width: 95%;
    height: 150px;
}

.infobox table {
    width: 95%;
}

.infobox td:last-child {
    text-align: center;
}

.infobox span.TW_Loca_edit,
.infobox span.TW_Loca_delete {
    cursor: pointer;
    border-bottom: 1px black dotted;
}

.infobox .function {
    font-weight: bold;
}

.infobox.hidden_infobox{
    height: 15px;
    width: 15px;
}

#TW_Loca_hide {
    text-align: right;
    cursor: pointer;
}

#constantlistTbl{
    width: 70% !important;
}